.catalog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 2.4rem 0;
  gap: 8rem;
  grid-auto-flow: dense;
  grid-auto-rows: 22rem;
  place-content: center;
  justify-items: center;
}
input {
  border: 1px solid black;
  height: 3rem;
  width: 30rem;
  border-radius: 10px;
  padding-left:30px;
  margin-top: 1.6rem;
}
input::placeholder {
  font-size: 0.8rem;
  max-width: none;
}
h2 {
  margin-top: 1rem;
}
