header {
	margin-bottom: 50px;
	}

nav {
    display: flex;
	 justify-content: space-between;
	 gap: 50px;
    align-items: center;
    margin: 10px;
    background-color: #ffffff;
	 padding: 15px 30px;
	 border-radius: 20px;
}

.line {
    padding: 50px;
    margin: -65px 0px -25px;
    width: 100%;
	 text-align: center;
	 z-index: -1;
}

.logo-container {
	display: flex;

}

.logo {
    width: 100%;
    cursor: pointer;
	 justify-self: left;
}

img {
max-width: 50vw;
cursor: pointer;
}

ul {
	 width: 100%;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 list-style-type: none;
}

.nav-link  { 
	font-size: 1.1rem;
}

.btn-publicar {
	background-color: #b7463e;
	border-radius: 20px;
	padding: 10px;
}

.publicar {
	color: #fff;
}


