@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Rubik+Beastly&family=Volkhov:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0 10px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    background: #f5f1f1;
}

.App {
  max-width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

a {
text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

main {
	flex-grow: 1;
}

@media (max-width: 880px) {
  .App {
    align-items: center;
    max-width: none;
  }
}