#logo {
  width: 30%;
  filter: drop-shadow(1px 1px 10px black);
  margin-top: 1rem;
}
h2 {
  border-bottom: 4px solid black;
}

.flex-logotext {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}
/* .flex-logotext button {
  background-color: #e73427;
  border-radius: 20px;
  padding: 20px;
  border: transparent;
  color: white;
  font-family: Poppins;
  transition: 0.1s ease-in-out;
}
.flex-logotext button:hover {
  transform: scale(1.1);
  cursor: pointer;
} */
.pbli {
  position: absolute;
  right: -10px;
  height: 72%;
}
.busca-un-perro img {
  width: 100%;
  transition: 0.1s ease-in;
}
.busca-un-perro {
  width: 25vw;
  height: 35vh;
}
.busca-un-perro img:hover {
  transform: scale(1.02);
}
.busca-un-perro button {
  width: 100%;
  height: 0%;
}
