.container-info {
  display: flex;
  flex-direction: column;
  padding: 0 .8rem;
  font-size: 1.3rem;
}
.container-info p{
    margin: 0;
}
.container-info--price{
    text-align: end;
    font-weight: 600;
} 
.container-info--price::before{
    content: "$ ";
}
.img {
  width: 100%;
  height: 16rem;
}
